# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
env
.venv/

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Streamlit specific
.streamlit/secrets.toml

# Cache / data
*.log
*.csv
*.sqlite
*.db
*.ipynb_checkpoints

# Environment variables
.env

#Folder Ignores
Weekly Updates/